#footer {
    display: inline-block;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    float: bottom;
    padding: 20px;
    color: #fff;
    clear: left;

    background: -webkit-linear-gradient(right, #1693b8, #739ac2);
    background: -moz-linear-gradient(right, #1693b8, #739ac2);
    background: -o-linear-gradient(right, #1693b8, #739ac2);
    background: linear-gradient(to left, #1693b8, #739ac2);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#info-panel {
    display: inline-grid;
    float: right;
    padding-right: 5%;
}
#telephone {
    margin-top: 2px;
    margin-bottom: 0px;
}